@font-face {
  font-family: '851マカポップ';
  src: url("../public/851MkPOP_101.ttf");
}

body {
  margin: 0;
  font-family: '851マカポップ';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.title {
  text-align: center;
  font-size: xx-large;
  padding-top: 5px;
}

.timer {
  margin-left: 2%;
  margin-right: 3%;
  width: 95%;
  height: 95%;
  font-size: 28vw;
  text-align: center;
}



.btn_ {
  font-family: '851マカポップ';
  font-size: 10px;
  text-align: center;
  float: right;
  line-height: 30px;
  bottom: 0;
  width: 50px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}